* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}

.main-box {
  width: 700px;
  margin: 40px auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}
.bulb {
  position: relative;
}
.bulbbox {
  padding: 20px 20px;
}
.bulbbox h1 {
  font-size: 45px;
  margin-bottom: 8px;
}
.bulbbox .offbulb {
  width: 275px;
  margin-top: 7px;
}

button {
  padding: 10px 35px;
  background-color: #e9e9ed;
  color: black;
  border-top: 2px solid #979797;
  border-left: 2px solid #979797;
  border-right: none;
  border-bottom: none;
  margin-top: 40px;
  margin-bottom: 10px;
}

.on {
  position: absolute;
  top: 0;
  left: 244px;
}

.dnone {
  display: none;
}

@keyframes colorAnimation {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}

.text-animation {
  animation: colorAnimation 3s infinite;
}

@media screen and (max-width: 680px) {
  .main-box {
    width: 500px;
  }
  .on {
    left: 145px;
  }
}
@media screen and (max-width: 468px) {
  .main-box {
    width: 320px;
  }
  .on {
    left: 53px;
  }
}
@media screen and (max-width: 310px) {
  .main-box {
    width: 275px;
  }
}
