* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
.bulb {
  position: relative;
  width: 260px;
  margin-left: auto;
  margin-top: -75px;
}
.bulbbox {
  width: 600px;
  margin: 70px auto;
  padding: 45px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 380px;
}
.bulbbox h1 {
  font-size: 45px;
  margin-bottom: 8px;
}
.bulbbox .offbulb {
  width: 275px;
  margin-top: 7px;
}
.buttonbox {
  width: 50px;
}
button {
  padding: 10px 25px;
  background-color: #e9e9ed;
  color: black;
  border-top: 2px solid #979797;
  border-left: 2px solid #979797;
  border-right: none;
  border-bottom: none;
  margin-top: 60px;
}

.o {
  position: absolute;
  top: -1px;
  left: 52px;
}

.dnone {
  display: none;
}

@keyframes colorAnimation {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}

.text-animation {
  animation: colorAnimation 3s infinite;
}

/* responsive */
@media screen and (max-width: 700px) {
  .bulb {
    width: 380px;
  }
}
@media screen and (max-width: 550px) {
  .bulb {
    width: 520px;
    margin-top: 32px;
  }
}
@media screen and (max-width: 370px) {
  .bulb {
    width: 600px;
  }
}
